*{
    margin: 0px auto;
}

@font-face
{
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
/* Start Cover Of the Page */
.head_page
{
    background-image: url(../pic/wallpaper/b.jpg);
    background-size: cover;
    width: 100%;
    height: 657px;
}
/* End Cover Of the Page */

/* Start Logo Paragraph */
.logo img
{
    position: absolute;
    top: 30%;
    width: 30%;
}
.logo img:hover
{
    transform: scale(1.1);
}
.logo h4
{
    position: absolute;
    top: 60%;
    left: 4%;
    font-size: 220%;
    font-weight: 100;
    color: gainsboro;
}
/* End Head Paragraph */

/* Start Menu */

/* Menu Containts */
.main_menu
{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}
nav ul li
{
    display: inline-block;
    margin-left: 5%;
}
nav
{
    display: inline-flexbox;
}
/* Menu Containts */

/* Start Number */
nav h3
{
    color: gainsboro;
    position:absolute;
    top: 4%;
    left: 88%;
    font: bold;
    float: right;
}
nav h3:hover
{
    color: blue;
    text-decoration-line: underline;
    cursor: pointer;
}
/* End Number */

/* Menu Buttons */
.main_menu button
{
    color: gainsboro;
    white-space: nowrap;
    background-color: rgba(43, 43, 43, 0.0);
    border-color: rgba(43, 43, 43, 0.0);
    font-size: 22px;
    margin-left: 6%;
}

.home-but ,.cars-but ,.services-but ,.pre-agent-but
{
   
    padding: 5px;
    text-align: center;
    display: none;
    position: absolute;
    font-size: 18px;
    z-index: 1;
}
.cars-but{margin-left: 8px;}
.pre-agent-but{margin-left: 20px;}
.services-but{margin-left: 12px;}
.home , .car , .pre , .serv 
{
    font-size: 18px;
}

.home-but a,.cars-but a,.services-but a,.pre-agent-but a
{
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 16px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.home:hover .home-but ,.car:hover .cars-but, .serv:hover .services-but,.pre:hover .pre-agent-but {
    display: block;
    color: red;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.0);
}

.home:hover button, .home:hover button i,.car:hover button, .car:hover button i, .serv:hover button,.serv:hover button i, .pre:hover button, .pre:hover button i
{
    color: red;
    cursor: pointer;
    transform: scale(0.9);
    transform: scaleX((-30deg));
}
i
{
    color: gainsboro;
}
/* End Menu */

/* Start Of Website Category */
.category
{
    padding: 10px;
    background-color: white;
    width: 96.5%;
    height:800px;
    padding:20px;
}
.category h1
{
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    font-size: 28px;
}
.cate
{
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 180px;
    text-align: center;
    border-bottom: gainsboro solid;
    border-radius: 10px;
}
.cate2
{
    border-radius: 10px;
    border-bottom: gainsboro solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 180px;
    float: right;
    text-align: center;
}
.cate3
{
    border-radius: 10px;
    border-bottom: gainsboro solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 180px;
    clear: left;
    float: left;
    text-align: center;
}
.cate4
{
    border-radius: 10px;
    border-bottom: gainsboro solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 180px;
    clear: right;
    float: right;
    text-align: center;
}
.swra
{
    width: 320px;
    height: 290px;
    border-radius: 8px;
}
.category h1:hover
{
    cursor: pointer;
    color: red;
    transform: scale(1.1);
}
/* End Of Website Category */

/* New Car */
.new_car
{
    position: relative;
    margin: 0%;
    padding: 0%;
    background-color: black;
    width: 100%;
    height: 60%;
}

.new_car img
{
    margin: 20px;
    border-radius: 20px;
    position: relative;
    left: 4%;
    width: 50%;
}

.dis
{
    margin-top: 6.2%;
    margin-left: 3%;
    width: 40%;
    position: relative;
    clear: right;
    float: left;
}

.dis h1
{
    top: -5%;
    color: white;
    margin: 0 0 10px;
    font-size: 40px;
}

.dis p
{
    color: gainsboro;
    font-size: 28px;
    font-family: Barlow Condensed,Arial,Tahoma,Helvetica,sans-serif;
    margin: 0 0 10px;
}

.dis span
{
    position: relative;
    left: 13%;
    font-size: 13px;
    color: white;
}
.dis a
{
    position: relative;
    top: 35px;
    left: 80%;
    font-size: 16px;
    color: white;
}

.dis a:hover
{
    color: red;
    cursor: pointer;
}

/* End Of The New Car */

/* Location */
.location
{
    position: relative;
    left: -12%;
    top: -100px;
    width: 500px;
    height: 500px;
    margin:1%;
    margin-bottom: 50px;
    float: right;
}

.location iframe
{
    position: absolute;
    top: 250px;
    left: -400px;
    width: 500px;
    height: 300px;
    z-index: 2;
}

.location h1
{
    position: relative;
    top: 25%;
    left: 34%;
    z-index: 4;
}
.location p
{
    font-weight: 700;
    position: relative;
    top: 25%;
    left: 24%;
    z-index: 5;
}

.location img
{
    position: relative;
    left: 12%;
    width: 500px;
    z-index: 1;
    margin-bottom: 50px;
}

/* End Loctaion */

.foot
{
    padding-bottom: 5px;
    margin-top: 40px;
    clear: both;
    position: relative;
    background-color: rgba(0, 0, 0, 0.94);
    width: 100%;
    height: 300px;
    display: inline-flex;
    overflow: hidden;
}

.foot img
{
    position: relative;
    left: 2.5%;
    top: -2%;
    width: 300px;
    height: 300px;
    z-index: 1;
}

.foot p
{
    position: relative;
    color: #ACACAC;
}

.foot img:hover
{
    transform: scale(1.1);
}

.foot hr
{
    position: relative;
    top: 52%;left: -5%;
    transform: rotate(90deg);
    width: 260px;
    border: 1px solid gainsboro;
}

.email
{
    position: relative;
    left: -34%;
    top: 82%;
    z-index: 2;
}
.phone
{
    color: #ACACAC;
    position: relative;
    left: -45.8%;
    top: 89.5%;
    z-index: 3;
}

.foot ul li
{
    padding-bottom: 15px;
    color:#ACACAC;
    list-style-type: none;
}

.ul1
{
    position: relative;
    top: 10%;
    left: -30%;
}

.ul2
{
    position: relative;
    top: 10%;
    left: -20%;
}

.ul1 h1 , .ul2 h1
{
    color: #ACACAC;
    padding-bottom: 15px;
}
.foot ul li:hover
{
    cursor: pointer;
    color: red;
    text-decoration-line: underline;
}
.phone:hover
{
    color: blue;
    text-decoration-line: underline;
    cursor: pointer;
}

.foot i
{
    position: relative;
    top: 50%;
    left: -10%;
    font-size: 24px;
    padding-left: 1.5%;
}

.foot i:hover
{
    color:blue;
    cursor: pointer;
}
